@using AboutResources = Samples.MultiCulture.MvcApplication.Resources.Home.About
@{
    ViewBag.Title = AboutResources.Title;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@AboutResources.AdditionalInfos</p>
